Repository gpradofe/NDGradGate, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, react, styles, ci, config, database, markdown, assets, scripts

.github/labeler.yml:

# Frontend changes
frontend:
  - FrontEnd/**/*

# Backend changes
backend:
  - '**/*.cs'
  - '**/*.csproj'

# Documentation changes
documentation:
  - '**/*.md'
  - '**/*.docx'
  - 'docs/**/*'
  - 'wiki/**/*'

# Test changes
tests:
  - '**/*Test.cs'
  - '**/*Spec.js'
  - '**/test/**/*'
  - '**/tests/**/*'

# React specific changes
react:
  - FrontEnd/**/*.jsx
  - FrontEnd/**/*.js

# Styling changes (CSS, Sass)
styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

# CI/CD and workflows
ci:
  - '.github/workflows/**/*'
  - 'ci/**/*'

# Configuration files
config:
  - '**/*.json'
  - '**/*.config'
  - '**/*.yaml'
  - '**/*.yml'
  - '**/*.xml'

# Database related changes
database:
  - '**/*.sql'
  - '**/*.db'
  - '**/*.efsql'

# Markdown files (could be part of documentation)
markdown:
  - '**/*.md'

# Images and other binary files
assets:
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.gif'
  - '**/*.svg'
  - '**/*.ico'
  - 'assets/**/*'

# Scripts (like shell or Python scripts)
scripts:
  - '**/*.sh'
  - '**/*.py'
  - '**/*.bat'

Basic Login and Dasshaboard Done
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Organisms/SideBar/index.tsx
  FrontEnd/ndgradgate/src/Components/Organisms/SideBar/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/Login/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/styles/index.ts
Labels: frontend, config

Create feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, markdown

Create documentation_improvement.md
  .github/ISSUE_TEMPLATE/documentation_improvement.md
Labels: documentation, markdown

Create performance_issue_template.md
  .github/ISSUE_TEMPLATE/performance_issue_template.md
Labels: documentation, markdown

Create user_experience.md
  .github/ISSUE_TEMPLATE/user_experience.md
Labels: documentation, markdown

add faculty
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/FacultyController.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/FacultyApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/IFacultyApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/FacultyData/Faculty.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/FacultyRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IFacultyRepository.cs
Labels: backend

Readme
  BackEnd/README.md
  BackEnd/README.pdf
Labels: documentation, markdown

update applicant
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IUpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyDto.cs
Labels: backend

create applicant
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/ICreateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
Labels: backend

delete applicant
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/DeleteApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IDeleteApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
Labels: backend

id -> refId
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
Labels: backend

adding items
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/ApplicantData/Applicant.cs
Labels: backend

Fixed all errors. Need refinement
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/GradGateRepositoriesIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/DeleteApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/ICreateApplicantInfoAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IDeleteApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/Core/ND.GradGate.Kernel.DataAccess.Persistent/Repositories/Interfaces/IRepository.cs
Labels: backend

Git commit - Login base done
  FrontEnd/ndgradgate/src/Components/Pages/Login/index.tsx
Labels: frontend

backend #1 (#12)
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/FacultyController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/GradGateController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/GradGateRepositoriesIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/DeleteApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/ICreateApplicantInfoAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IDeleteApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IUpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/FacultyApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/IFacultyApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/ApplicantData/Applicant.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/FacultyData/Faculty.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/Core/ND.GradGate.Kernel.DataAccess.Persistent/Repositories/Interfaces/IRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/FacultyRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IFacultyRepository.cs
Labels: backend

backend #1 (#12) (#17)
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/FacultyController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/GradGateController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/GradGateRepositoriesIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/DeleteApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/ICreateApplicantInfoAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IDeleteApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IUpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/FacultyApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetFacultyInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/IFacultyApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/ApplicantData/Applicant.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/FacultyData/Faculty.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/Core/ND.GradGate.Kernel.DataAccess.Persistent/Repositories/Interfaces/IRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/FacultyRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IFacultyRepository.cs
Labels: backend

a
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IGetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/ApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IApplicantRepository.cs
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/styles/index.ts
Labels: frontend, backend

professor and reviewer template dashboard
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/styles/index.ts
Labels: frontend

Fixed Cors, changed Dashboard.
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/public/favicon.ico
  FrontEnd/ndgradgate/public/logo192.png
  FrontEnd/ndgradgate/public/logo512.png
  FrontEnd/ndgradgate/public/manifest.json
  FrontEnd/ndgradgate/public/robots.txt
  FrontEnd/ndgradgate/src/App.css
  FrontEnd/ndgradgate/src/App.test.tsx
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/index.css
  FrontEnd/ndgradgate/src/index.tsx
  FrontEnd/ndgradgate/src/logo.svg
  FrontEnd/ndgradgate/src/services/ApiService.ts
  FrontEnd/ndgradgate/src/types/Application/Applicant.ts
  FrontEnd/ndgradgate/src/types/Application/Faculty.ts
Labels: frontend, backend, styles, config, assets

AddingDeployment
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/LambdaEntryPoint.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/ND.GradGate.Kernel.csproj
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Properties/launchSettings.json
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-beanstalk-tools-defaults.json
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-lambda-tools-defaults.json
Labels: backend, config

Adding backend link
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend

Adding https
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend

Fixed endpoint
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend, config

professor and reviewer template dashboard
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/styles/index.ts
Labels: frontend

Jonathan frontend (#22)
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/styles/index.ts
Labels: frontend

fix
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
Labels: backend

backend queries for updated db schema
  .gitignore
  main.py
Labels: scripts

Feature/login (#18)
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/LambdaEntryPoint.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/ND.GradGate.Kernel.csproj
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Properties/launchSettings.json
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Startup.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-beanstalk-tools-defaults.json
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-lambda-tools-defaults.json
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IGetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/ApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IApplicantRepository.cs
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/public/favicon.ico
  FrontEnd/ndgradgate/public/logo192.png
  FrontEnd/ndgradgate/public/logo512.png
  FrontEnd/ndgradgate/public/manifest.json
  FrontEnd/ndgradgate/public/robots.txt
  FrontEnd/ndgradgate/src/App.css
  FrontEnd/ndgradgate/src/App.test.tsx
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/styles/index.ts
  FrontEnd/ndgradgate/src/index.css
  FrontEnd/ndgradgate/src/index.tsx
  FrontEnd/ndgradgate/src/logo.svg
  FrontEnd/ndgradgate/src/services/ApiService.ts
  FrontEnd/ndgradgate/src/types/Application/Applicant.ts
  FrontEnd/ndgradgate/src/types/Application/Faculty.ts
Labels: frontend, backend, styles, config, assets

Creating Faculty Management
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Organisms/SideBar/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend, config

Adding revert/save changes
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
Labels: frontend

Reviewer Dashboard done
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ReviewerDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ReviewerDataGrid/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Organisms/SideBar/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
Labels: frontend

[WIP] Analytics page
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Organisms/SideBar/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AnalyticsDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AnalyticsDashboard/styles/index.ts
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
Labels: frontend, config

analyitics front end
  FrontEnd/ndgradgate/src/Components/Pages/AnalyticsDashboard/index.tsx
Labels: frontend

add logo and password
  FrontEnd/ndgradgate/src/Components/Pages/Login/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/Login/notreDameDrawinig.png
Labels: frontend, assets

current user name
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AnalyticsDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/index.css
Labels: frontend, styles

Fixed mapping
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantAttributeDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/CommentDto.cs
Labels: backend

add email
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
Labels: frontend

hide last name, email, etc
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
Labels: frontend

Reviewer Dashboard
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
Labels: frontend

faculty dashboard
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
Labels: frontend
