Repository gpradofe/NDGradGate, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, react, styles, ci, config, database, markdown, assets, scripts

.github/labeler.yml:

# Frontend changes
frontend:
  - FrontEnd/**/*

# Backend changes
backend:
  - '**/*.cs'
  - '**/*.csproj'

# Documentation changes
documentation:
  - '**/*.md'
  - '**/*.docx'
  - 'docs/**/*'
  - 'wiki/**/*'

# Test changes
tests:
  - '**/*Test.cs'
  - '**/*Spec.js'
  - '**/test/**/*'
  - '**/tests/**/*'

# React specific changes
react:
  - FrontEnd/**/*.jsx
  - FrontEnd/**/*.js

# Styling changes (CSS, Sass)
styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

# CI/CD and workflows
ci:
  - '.github/workflows/**/*'
  - 'ci/**/*'

# Configuration files
config:
  - '**/*.json'
  - '**/*.config'
  - '**/*.yaml'
  - '**/*.yml'
  - '**/*.xml'

# Database related changes
database:
  - '**/*.sql'
  - '**/*.db'
  - '**/*.efsql'

# Markdown files (could be part of documentation)
markdown:
  - '**/*.md'

# Images and other binary files
assets:
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.gif'
  - '**/*.svg'
  - '**/*.ico'
  - 'assets/**/*'

# Scripts (like shell or Python scripts)
scripts:
  - '**/*.sh'
  - '**/*.py'
  - '**/*.bat'

final video including chart
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend, config

a
  FrontEnd/ndgradgate/src/Components/Pages/AnalyticsDashboard/index.tsx
Labels: frontend

Fineshed Settings Management
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/SettingController.cs
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/App.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyManagementGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Helpers/TabPanelHelper.tsx
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend, backend, config

Added methods to update status, front end almost finished, adding import data
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/UpdateApplicantStatusAndReviewerAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/IUpdateApplicantStatusAndReviewerAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/UpdateApplicantStatusAndReviewerDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyAdvisorDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/ReviewerDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/ApplicantData/Applicant.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/Core/ND.GradGate.Kernel.DataAccess.Persistent/Repositories/AbstractRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Mapping/ApplicantMap.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Mapping/ReviewerAssignmentMap.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/ApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IApplicantRepository.cs
  FrontEnd/ndgradgate/package-lock.json
  FrontEnd/ndgradgate/package.json
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ImportedDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ReviewerDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/SettingsPanel/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ProfessorDashboard/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/context/ApplicationContext.tsx
  FrontEnd/ndgradgate/src/index.css
  FrontEnd/ndgradgate/src/services/ApiService.ts
  FrontEnd/ndgradgate/src/types/Application/Applicant.ts
Labels: frontend, backend, styles, config

Imported data with custom mapping done
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/ApplicantController.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/CreateApplicationInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetAllApplicantsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByIdAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Actions/GetApplicantInfoByNameAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/ApplicantApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/Actions/ICreateApplicantInfoAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Applicants/Interfaces/IApplicantApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Applicant/ApplicantDto.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/ApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IApplicantRepository.cs
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ImportedDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ReviewerDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ApplicantOverview/AdminDashboard/index.tsx
  FrontEnd/ndgradgate/src/context/ApplicationContext.tsx
  FrontEnd/ndgradgate/src/services/ApiService.ts
  FrontEnd/ndgradgate/src/types/Application/Applicant.ts
Labels: frontend, backend

Base Finished Need to fix: Comment Update
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/Controllers/FacultyController.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/ApplicationIoC.cs
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/StartupConfiguration/GradGateRepositoriesIoC.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/AssignPotentialAdvisorsAndAddCommentsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/CreateOrUpdateFacultyAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetAllFacultyAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Actions/GetAssignedApplicationsForReviewerAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/FacultyApplication.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IAssignPotentialAdvisorsAndAddCommentsAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/ICreateOrUpdateFacultyAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/Actions/IGetAssignedApplicationsForReviewerAction.cs
  BackEnd/NDGradGateKernel/2-Application/ND.GradGate.Kernel.Application/Faculty/Interfaces/IFacultyApplication.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/AssignFacultyAndAddComment.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain.Contracts/Faculty/FacultyDto.cs
  BackEnd/NDGradGateKernel/4-Domain/ND.GradGate.Kernel.Domain/Faculty/PotentialAdvisor.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Mapping/PotentialAdvisorMap.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/ApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/CommentRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/FacultyRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IApplicantRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/ICommentRepository.cs
  BackEnd/NDGradGateKernel/5.1-Infraestructure/ND.GradGate.Kernel.DataAccess/Repositories/Interfaces/IFacultyRepository.cs
  FrontEnd/ndgradgate/src/Components/Atoms/DataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/FacultyManagementGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Atoms/ReviewerDataGrid/index.tsx
  FrontEnd/ndgradgate/src/Components/Pages/ReviewerDashboard.py/index.tsx
  FrontEnd/ndgradgate/src/context/ApplicationContext.tsx
  FrontEnd/ndgradgate/src/services/ApiService.ts
  FrontEnd/ndgradgate/src/types/Application/Applicant.ts
  FrontEnd/ndgradgate/src/types/Application/Faculty.ts
Labels: frontend, backend

Modded Endpoint
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-beanstalk-tools-defaults.json
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend, config

Final (#54)
  BackEnd/NDGradGateKernel/1.1-Presentation/ND.GradGate.Kernel/aws-beanstalk-tools-defaults.json
Labels: config

Update ApiService.ts
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend

Update ApiService.ts
  FrontEnd/ndgradgate/src/services/ApiService.ts
Labels: frontend
